


{{ footer_top }}

</main>


<footer id="footer">
  {{ footer_bottom }}
</footer>




<footer class="re__container re__footer">
    <div class="container">
        <div class="re__display-inline-block row">
            <div class="col-lg-4 re__padding-left--0">
                <div class="re__footer-logo">
                    <a href="https://chothuenha.com.vn">
                        
                            <img src="{{ logo }}" alt="Website số 1 về bất động sản" title="chothuenha.com.vn">
                        
                        
                                                
                    </a>
                </div>

                <div class="re__typo-expressive--md">CÔNG TY CỔ PHẦN Chothuenha.com.vn</div>
                <div class="re__display-flex re__address">

                    <i class="fa fa-map-marker"></i>

                    <span class="re__typo-expressive--md">Tầng 21, TP.HCM</span>
                </div>
                <div class="re__display-flex re__address">

                    <i class="fa fa-phone"></i>

                    <span class="re__typo-expressive--md re__text-phone">
                      {{ telephone }}
                    </span>
                </div>

                <div class="re__mg-top--40">
                    <a href="https://play.google.com/store/apps/details?id=vn.com.batdongsan" rel="nofollow" target="_blank" class="re__mg-right--17">
                        <img class="lazyloaded" data-src="image/data/google-play.png" ignore-error="" error-image-src="image/data/google-play.png" src="image/data/google-play.png">
                    </a>
                    <a href="https://apps.apple.com/vn/app/chothuenha.com.vn/id866492094" rel="nofollow" target="_blank">
                        <img class="lazyloaded" data-src="image/data/app_store.png" ignore-error="" error-image-src="image/data/app_store.png" src="image/data/app_store.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 re__padding-right--0 re__col-hotline">
              <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 re__padding--0">
                      <div class="re__hotline">
                          <a href="tel:19001881"><i class="fa fa-phone"></i></a>
                          <div class="re__right">
                              <a href="tel:19001881"><span class="re__typo-body--sm">Hotline</span></a>
                              <a href="tel:19001881"><span class="re__typo-heading--xs">1900 1881</span></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 re__padding-left--0 footer_contact">
                      <div class="re__hotline">
                          <a href="https://trogiup.chothuenha.com.vn/" target="_blank">
                            <i class="fa fa-user-o"></i>
                          </a>
                          <div class="re__right">
                              <a href="https://trogiup.chothuenha.com.vn/" target="_blank"><span class="re__typo-body--sm">Hỗ trợ khách hàng</span></a>
                              <a href="https://trogiup.chothuenha.com.vn/" target="_blank"><span class="re__typo-heading--xs">trogiup.chothuenha.com.vn</span></a>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                      <div class="re__hotline">
                          <a rel="nofollow" href="mailto:hotro@chothuenha.com.vn">
                            <i class="fa fa-headphones"></i>
                          </a>
                          <div class="re__right">
                              <a rel="nofollow" href="mailto:hotro@chothuenha.com.vn"><span class="re__typo-body--sm">Chăm sóc khách hàng</span></a>
                              <a rel="nofollow" href="mailto:hotro@chothuenha.com.vn"><span class="re__typo-heading--xs">hotro@chothuenha.com.vn</span></a>
                          </div>

                      </div>
                  </div>
             
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 re__padding--0">
                      <div  class="re__typo-expressive--md re__title">HƯỚNG DẪN</div>
                      <div   class="re__list-menu--footer">
                          <ul>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Báo giá &amp; hỗ trợ</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Câu hỏi thường gặp</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Thông báo</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Liên hệ</a>
                              </li>
                              <li>
                                  <a href="" class="re__link-se">Sitemap</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 re__padding-left--0">
                      <div  class="re__typo-expressive--md re__title">QUY ĐỊNH</div>
                      <div rule-list=""  class="re__list-menu--footer">
                          <ul>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Quy định đăng tin</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Quy chế hoạt động</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Điều khoản thỏa thuận</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Chính sách bảo mật</a>
                              </li>
                              <li>
                                  <a href="" rel="nofollow" class="re__link-se">Giải quyết khiếu nại</a>
                              </li>
                              <li>
                                  <a href="" target="_blank" rel="nofollow" class="re__link-se">Góp ý báo lỗi</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 re__padding-right--0" style="padding: 0px">
                      <div class="re__col--footer-mail">
                          <div class="re__typo-expressive--md re__title">ĐĂNG KÝ NHẬN TIN</div>
                          <div class="re__input--md re__input-btn-icon-right--md "><input    id="email-footer" name="email-footer" placeholder="Nhập email của bạn" type="text" value="">
                            <i class="fa fa-paper-plane"></i>
                            <div class="re__error-message " id="newsletterRegister-footer"><span class="field-validation-valid"  ></span></div><div class="re__info-message"></div></div>
                      </div>
                     
                  </div>
              </div>
               
            </div>
        </div>


        <div class="re__display-inline-block re__bottom-footer re__border-tablet">
          <div class="row">
              <div class="col-lg-8 re__display-inline-block">
                  <div class="re__typo-body--sm re__col--left">
                      <span class="re__typo-body--sm re__mg-bottom--8 re__display-inline-block">Copyright © 2007 - 2022 chothuenha.com.vn</span>
                      <br>Giấy ĐKKD số 0000111111 do Sở KHĐT TP Hà Nội cấp lần 
                  </div>

                  <div class="re__typo-body--sm re__col--right">
                      Chịu trách nhiệm nội dung GP ICP: Ông Nguyen Van A
                  </div>
              </div>
              <div class="col-lg-4">
                  <a href="" rel="nofollow" target="_blank">
                      <img src="image/data/da-dang-ki-bct.svg" class="bct">
                  </a>
                  <div class="re__right-fix">
                      <a href="" rel="nofollow" target="_blank">
                         <i class="fa fa-facebook"></i>
                      </a>
                      <a href="" rel="nofollow" target="_blank">
                          <i class="fa fa-youtube"></i>
                      </a>
                      <a href="" rel="nofollow" target="_blank">
                          <i class="re__icon-zalo--lg">
                              <span class="path1"></span><span class="path2"></span>
                          </i>
                          <i class="re__icon-zalo-hover--lg">
                              <span class="path1"></span><span class="path2"></span>
                          </i>
                      </a>
                  </div>

              </div>
            </div>
        </div>
      

    </div>
  
</footer>







<a href="javascript:" id="return-to-top" style="display: inline;"><i class="fa fa-chevron-up"></i></a>


<div class="md-dialog-container" id="form_filter_city" style="height: 0">
    <md-dialog>
        <form action="" method="post" novalidate="novalidate" class="ng-pristine ng-valid ng-dirty" ng-cloak name="form_filter_city" id="register_serivice">
          <md-toolbar>
            <div class="md-toolbar-tools custom_width">
              <md-icon md-svg-src="image/data/left-arrow-2.svg" aria-label="Close dialog" ng-click="backDialog($event)"></md-icon>
              <span flex></span>
                  
              <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="applyDistrict($event)"><span>Áp dụng</span>
              </md-button>
              </md-dialog-actions>
              
              <h4 style="color: #fff"><@ zone_name @>
                <span ng-if="district != ''"> - <@ district @></span>
              </h4>

            <span flex></span>
              
            </div>
          </md-toolbar>

          <md-dialog-content>
            <div class="md-dialog-content custom_width" style="padding-top: 0 !important; position: relative; top:0; left:0; ">
            
                  <md-list ng-cloak>
                    <md-radio-group ng-model="zone_id" aria-labelledby="favoriteZone" ng-change="zoneChanged($event);" ng-click="zoneChanged($event);">   
                      <div class="row-row">
                        <div flex layout="row" layout-padding layout-align="start center">
                          <md-radio-button value="0" class="md-primary">Toàn quốc
                          </md-radio-button>
                        </div>
                      </div>

                      <div ng-repeat="zone in zones" class="row-row">
                        <div flex layout="row" layout-padding layout-align="start center">
                          <md-radio-button  value="<@ zone.zone_id @>" class="md-primary"><@ zone.name @>
                          </md-radio-button>
                        </div>
                      </div>
                    </md-radio-group>
                  </md-list>


                  <md-list ng-cloak style="position: absolute; top: 0; bottom: 0;width: 100%; height:;background-color: #fff; left: 0; padding: 0 20px;" ng-if="districts.length !== 0">
                    <!--<md-radio-group ng-model="district_id" aria-labelledby="favoriteDistrict" ng-click="districtChanged($event)"> -->
                        <!-- <div ng-repeat="district in districts" class="row-row">
                          <div flex layout="row" layout-padding layout-align="start center">
                            <md-checkbox ng-model="model.districts[district]" value="<@ district.district_id @>" class="md-primary"><@ district.name @></md-checkbox>
                          </div>
                        </div>
                    </md-radio-group>-->
                    <md-radio-group  aria-labelledby="favoriteDistrict" ng-click="districtChanged($event)">
                      <div class="row-row" ng-repeat="district in districts">
                        <div flex layout="row" layout-padding="" layout-align="start center" class=" layout-align-start-center layout-row flex checkbox clip-check check-primary check-district" style="padding: 0 0 0 15px;">
                          <input type="checkbox" name="district[]" value="<@ district.district_id @>" id="<@ district.district_id @>" style="border-radius: 100%">
                          <label for="<@ district.district_id @>"><@ district.name @></label>
                        </div>
                      </div>
                    </md-radio-group>

                  </md-list>

                  

            </div>
          </md-dialog-content>

        </form>
    </md-dialog>
</div>


<div class="md-dialog-container" id="form_fitler_types" style="height: 0">
    <md-dialog>
        <form action="" method="post" novalidate="novalidate" class="ng-pristine ng-valid ng-dirty" ng-cloak id="fitler_types">
            <md-toolbar>
            <div class="md-toolbar-tools custom_width">
              <md-icon md-svg-src="image/data/left-arrow-2.svg" aria-label="Close dialog" ng-click="backDialog($event)"></md-icon>
              <span flex></span>

              <h4 style="color: #fff">LOẠI HÌNH</h4>

              <span flex></span>
              
            </div>
          </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content custom_width" style="padding-top: 0 !important">
                <div class="filter-popup-content">
                  <div class="filter-block">
                    <div class="filter-block-content">
                      <ul class="filter-option-group-horizontal clearfix filter_option_type">
                        <li ng-click="selectedType($event, '')" class="active"><span>Tất cả</span></li>

                        <li ng-repeat="filter_type in filter_types" ng-click="selectedType($event, filter_type)" data-id="<@ filter_type.type_id @>"><span><@ filter_type.name @></span></li>
                      </ul>
                    </div>
                  </div>
                </div>

          </div>
        </md-dialog-content>
        </form>
    </md-dialog>
</div>

<div class="md-dialog-container" id="form_fitler_price" style="height: 0">
    <md-dialog>
        <form action="" method="post" novalidate="novalidate" class="ng-pristine ng-valid ng-dirty" ng-cloak id="fitler_price">
            <md-toolbar>
            <div class="md-toolbar-tools custom_width">
              <md-icon md-svg-src="image/data/left-arrow-2.svg" aria-label="Close dialog" ng-click="backDialog($event)"></md-icon>
              <span flex></span>

              <h4 style="color: #fff">CHỌN GIÁ</h4>

              <span flex></span>
              
            </div>
          </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content custom_width" style="padding-top: 0 !important">
                <div class="filter-popup-content">

                    <p id="amount_price" style="font-size: 16px; font-weight: bold; text-align: center; color: rgb(255,87,34)">0 - 50 Triệu</p>
                    <div id="slider-range-price" style="margin-left: 10px;margin-right: 10px;"></div>
                    <input type="hidden" id="min_price" value="0" />
                    <input type="hidden" id="max_price" value="50000000" />
                    <input type="hidden" id="active_filter_price" value="0" />
                  </br>
                  <div class="bds-ranger">
                    <ul class="custom-list-ranger filter_price" id="filter_price">
                      <li ng-click="selectedPrice($event, filter_price)" ng-repeat="filter_price in filter_prices" class="" data-id="<@ filter_price.price_id @>">
                        <@ filter_price.name @>
                      </li>
                    </ul>
                  </div>
                </div>

          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="applyPrice($event)"><span>Áp dụng</span>
            </md-button>
        </md-dialog-actions>
        </form>
    </md-dialog>
</div>

<div class="md-dialog-container" id="form_fitler_acreage" style="height: 0">
    <md-dialog>
        <form action="" method="post" novalidate="novalidate" class="ng-pristine ng-valid ng-dirty" ng-cloak id="fitler_acreage">
            <md-toolbar>
            <div class="md-toolbar-tools custom_width">
              <md-icon md-svg-src="image/data/left-arrow-2.svg" aria-label="Close dialog" ng-click="backDialog($event)"></md-icon>
              <span flex></span>



              <h4 style="color: #fff">CHỌN DIỆN TÍCH</h4>

              <span flex></span>
              
            </div>
            
          </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content custom_width" style="padding-top: 0 !important">
                <div class="filter-popup-content">

                    <p id="amount_acreage" style="font-size: 16px; font-weight: bold; text-align: center; color: rgb(255,87,34)">0 - 500 m2</p>
                    <div id="slider-range-acreage" style="margin-left: 10px;margin-right: 10px;"></div>
                    <input type="hidden" id="min_acreage" value="0" />
                    <input type="hidden" id="max_acreage" value="500" />
                    <input type="hidden" id="active_filter_acreage" value="0" />
                  </br>
                  <div class="bds-ranger">
                    <ul class="custom-list-ranger filter_acreage" id="filter_acreage">
                      <li ng-click="selectedAcreage($event, filter_acreage)" ng-repeat="filter_acreage in filter_acreages" class="" data-id="<@ filter_acreage.area_id @>">
                        <@ filter_acreage.name @>
                      </li>
                    </ul>
                  </div>
                </div>

          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="applyAcreage($event)"><span>Áp dụng</span>
            </md-button>
        </md-dialog-actions>
        </form>
    </md-dialog>
</div>


<div class="md-dialog-container" id="form_fitler_extension" style="height: 0">
    <md-dialog>
        <form action="" method="post" novalidate="novalidate" class="ng-pristine ng-valid ng-dirty" ng-cloak id="fitler_acreage">
            <md-toolbar>
            <div class="md-toolbar-tools custom_width">
              <h2 style="color: #fff">LỌC NÂNG CAO</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancelDialog($event, 'dialog-form-login')">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content custom_width" style="padding-top: 0 !important">
              
              <div class="filter-popup-content">
                 <div class="filter-block" id="filter_bedroom">
                    <div class="filter-block-title">Số phòng ngủ</div>
                    <div class="filter-block-content">
                       <ul class="filter-option-group-horizontal clearfix">
                          <li class="active bedroom_0" ng-click="selectedBedroom($event, '')"><span>Tất cả</span></li>
                          <li ng-repeat="filter_bedroom in filter_bedrooms" class="bedroom_<@ filter_bedroom.bedroom_id @>" ng-click="selectedBedroom($event, filter_bedroom)" class=""><span>
                            <@ filter_bedroom.name @>
                          </span></li>
                       </ul>
                    </div>
                 </div>
                 <div class="filter-block" id="filter_bathroom">
                    <div class="filter-block-title">Số toilet</div>
                    <div class="filter-block-content">
                       <ul class="filter-option-group-horizontal clearfix">
                          <li class="active bathroom_0"  ng-click="selectedBathroom($event, '')"><span>Tất cả</span></li>
                          <li ng-click="selectedBathroom($event, filter_bathroom)" ng-repeat="filter_bathroom in filter_bathrooms" class="bathroom_<@ filter_bathroom.bathroom_id @>"><span><@ filter_bathroom.name @></span></li>
                       </ul>
                    </div>
                 </div>
                 <div class="filter-block" id="filter_direction_house">
                    <div class="filter-block-title">Hướng chính</div>
                    <div class="filter-block-content">
                       <ul class="filter-option-group-horizontal clearfix">
                          <li class="active direction_house_0"  ng-click="selectedDirectionHouse($event, '')"><span>Tất cả</span></li>
                          <li ng-click="selectedDirectionHouse($event, filter_direction_house)" ng-repeat="filter_direction_house in filter_direction_houses" class="direction_house_<@ filter_direction_house.direction_house_id @>"><span><@ filter_direction_house.name @></span></li>
                       </ul>
                    </div>
                 </div>
              </div>

          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="applyFilterExtention($event)"><span>Áp dụng</span>
            </md-button>
        </md-dialog-actions>
        </form>
    </md-dialog>
</div>


 <div class="modal tour-success-modal" id="success_modal" tabindex="-1" style="display: none;">
   <div class="modal-dialog" role="document">
      <div class="modal-content new2021 form-col-1 static">
        <div class="form-horizontal" id="">
           <div class="modal-body">
              <div class="sending_img mCustomScrollbar _mCS_2">
                 <div class="mCustomScrollBox mCS-light" id="mCSB_2">
                    <div class="mCSB_container mCS_no_scrollbar">
                       <img class="image_message" src="image/data/sent.svg">
                    </div>
                    
                 </div>
              </div>
              <div class="sending_code mCustomScrollbar _mCS_3">
                 <div class="mCustomScrollBox mCS-light" id="mCSB_3">
                    <div class="mCSB_container mCS_no_scrollbar"><span class="title_message">Gửi thành công</span></div>
                 </div>
              </div>
              <div class="sending_msg mCustomScrollbar _mCS_4">
                 <div class="mCustomScrollBox mCS-light" id="mCSB_4">
                    <div class="mCSB_container mCS_no_scrollbar"><span class="description_message">Yêu cầu của bạn đã được gửi đến người đăng tin.</span></div>
                 </div>
              </div>
           </div>
        </div>
        <div class="modal-footer shadow"><button type="button" data-dismiss="modal" id="btnCancel" class="re__btn re__btn-pr-solid--md">OK</button></div>
      </div>
   </div>
</div>


<div class="ReactModalPortal hidden">
   <div class="ReactModal__Overlay ReactModal__Overlay--after-open" style="position: fixed; inset: 0px; background-color: rgba(0, 0, 0, 0.45); z-index: 9999;">
      <div class="ReactModal__Content ReactModal__Content--after-open" tabindex="-1" role="dialog" aria-modal="true" style="position: absolute; top: calc(50% - 265px); left: calc(50% - 232px); right: unset; bottom: unset; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); overflow: hidden; border-radius: 8px; outline: none; padding: 0px; width: 464px; height: auto; max-height: calc(100vh - 32px);">
         <div class="sc-ezront ghIFES">
            <div class="sc-kBPbqO hlKZLx">
               <h5 type="primary" class="sc-eCssSg jNJTkf">Đăng tin</h5>
            </div>
            <div class="sc-gJrzqj dEQLBz">
               <svg font-size="24px" width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19 5L5 19" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M19 19L5 5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
               </svg>
            </div>
         </div>
         <div class="sc-cRcunm jduJNW">
            <div class="sc-kkeJPq ffKbHC">
               <div style="display: flex; margin-bottom: 16px;">
                  <svg font-size="24px" width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#07A35D"></path>
                     <path d="M16.9802 8.92385C17.2984 9.18903 17.3414 9.66195 17.0762 9.98016L12.0762 15.9802C11.9477 16.1344 11.7627 16.2306 11.5627 16.2474C11.3627 16.2642 11.1643 16.2001 11.0119 16.0695L7.51192 13.0695C7.19743 12.7999 7.161 12.3264 7.43057 12.0119C7.70014 11.6974 8.17361 11.661 8.48811 11.9306L11.4107 14.4357L15.9238 9.01988C16.189 8.70167 16.6619 8.65868 16.9802 8.92385Z" fill="white"></path>
                  </svg>
                  <div type="positive" class="sc-bqyKva gDDENa" style="margin-left: 8px;">Thành công</div>
               </div>
               <div type="primary" class="sc-iBPRYJ jfvWqv"> Bạn đã đăng tin thành công. Tài khoản của bạn không đủ để thanh toán cho tin rao này. Vì vậy tin rao của bạn sẽ được kiểm duyệt trong vòng 8h làm việc.</div>
               <div class="sc-ezipRf bSkNQK">
                  <div class="sc-cTkOiY brFinj">
                     <div type="primary" class="sc-iBPRYJ jfvWqv">Mã tin</div>
                     <div class="sc-fvFlmW eaimfk">
                        <div type="secondary" class="sc-iBPRYJ fTqJhL">34773516</div>
                        <div class="sc-bvVdbW fsfWuT" style="margin-left: 12px;">
                           <div color="cyan" class="sc-btdgZA RmMeE"></div>
                           <div color="cyan" class="sc-kstrdz dPmahJ sc-ekboDZ cDjKGE" type="primary">Sao chép</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div type="primary" class="sc-kstrdz dPmahJ" style="width: 100%;">Số dư còn lại</div>
               <div class="sc-ezipRf bSkNQK" style="padding-bottom: 16px; margin: 8px 0px;">
                  <div class="sc-cTkOiY brFinj">
                     <div type="primary" class="sc-iBPRYJ jfvWqv">Tài khoản tin đăng</div>
                     <div class="sc-fvFlmW eaimfk">
                        <div type="secondary" class="sc-kstrdz jwfbNF">0</div>
                        <div class="sc-jdPOdc cuvzLK"></div>
                        <div type="tertiary" class="sc-iBPRYJ oLMna">VND</div>
                     </div>
                  </div>
                  <div class="sc-jNrxex dhdKlb"></div>
                  <div class="sc-cTkOiY brFinj">
                     <div type="primary" class="sc-iBPRYJ jfvWqv">Tài khoản KM 1</div>
                     <div class="sc-fvFlmW eaimfk">
                        <div type="secondary" class="sc-kstrdz jwfbNF">0</div>
                        <div class="sc-jdPOdc cuvzLK"></div>
                        <div type="tertiary" class="sc-iBPRYJ oLMna">VND</div>
                     </div>
                  </div>
                  <div class="sc-jNrxex dhdKlb"></div>
                  <div class="sc-cTkOiY brFinj">
                     <div type="primary" class="sc-iBPRYJ jfvWqv">Tài khoản KM 2</div>
                     <div class="sc-fvFlmW eaimfk">
                        <div type="secondary" class="sc-kstrdz jwfbNF">0</div>
                        <div class="sc-jdPOdc cuvzLK"></div>
                        <div type="tertiary" class="sc-iBPRYJ oLMna">VND</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="sc-eJBYSJ kkksDm">
            <div></div>
            <div class="sc-fFYUoA FCJNq">
               <button class="sc-kLgntA bwpqkK sc-hlWvWH dgxEoC" type="border" color="secondary">
                  <div class="sc-iktFzd gaGeRK"><span type="primary" class="sc-iwyYcG gBmyGv">Quản lý tin đăng</span></div>
               </button>
               <button type="solid" color="primary" class="sc-kLgntA cIlsIO">
                  <div class="sc-iktFzd gaGeRK"><span type="primary" class="sc-iwyYcG gBmyGv">Đăng tiếp tin khác</span></div>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>




<md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
<script src="catalog/view/theme/beta/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/beta/script/lazysizes.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/beta/js/angular/angular-animate.js"></script>
<script src="catalog/view/theme/beta/js/angular/angular-aria.js"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/angular/angular-material.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/angular/angular-messages.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/angular/md-data-table.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/angular/svg-assets-cache.js"></script>
<script src="catalog/view/theme/beta/js/angular/loading-bar.js"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/angular/bower_components/toastr/toastr.js"></script>

<script type="text/javascript" src="catalog/view/theme/beta/js/angular/angular-file-upload.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/angular/file-upload.js"></script>


<script src="catalog/view/javascript/common.js?{{ random() }}" type="text/javascript"></script>
<script type="text/javascript" src="catalog/view/theme/beta/js/main.js?{{ random() }}"></script>




</body></html>