{{ header }}
<div class="append_html_filter append_pagination">
<div id="account-account" class="">
  <div class="sc-imcLir cExqpY">
    {{ column_left }}
  <div class="sc-bHKNvF folniP col-lg-10 col-md-9 col-sm-9 col-xs-12">
   <div class="sc-fweGeb kUzkwc">
      <div class="sc-ibushM dhggPq">
         <ul class="sc-heOwwK izlmnd"></ul>
      </div>
   </div>
   <div class="sc-jTWTst hYLsTD">
      <div class="sc-cHOiLE SLkmA">
         <div class="sc-hymtyp bjqBjR">
            <h3 type="primary" class="sc-dlfnbm lhekIy">Danh sách tin</h3>
         </div>
        
      </div>
   </div>
  
   <div class="sc-jhSEkC COfqa">
      <div class="sc-jLNwoM jvBuwT">


      	<div class="row">
	        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	          <section class="section box-shadow border-radius">
	                <div class="section-header mb-4"><span class="section-title">Chọn phương thức nạp tiền</span></div>
	                <div class="section-content">
	                    <div class="row addfund_method_list clearfix">
	            			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	            				<div class="method_item">
	            					<a href="{{ bank_transfer }}">
	            						<div class="method_item_icon">
	            							<img src="https://chothuenha.me/images/bank-transfer.png" alt="Chuyển khoản trực tiếp" title="Chuyển khoản trực tiếp">
	            						</div>
	            						<div class="method_item_name">
	            							Chuyển khoản
	            						</div>
	            						
	            					</a>
	            				</div>
	            			</div>
	            			
	            			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	            				<div class="method_item">
	            					<a href="{{ momo }}">
	            						<div class="method_item_icon">
	            							<img src="image/data/momo.png" alt="Nạp tiền bằng MOMO" title="Nạp tiền bằng MOMO">
	            						</div>
	            						<div class="method_item_name">
	            							MOMO
	            						</div>
	            						
	            					</a>
	            				</div>
	            			</div>
	            			
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	            				<div class="method_item">
	            					<a href="{{ directpay }}">
	            						<div class="method_item_icon">
	            							<img src="https://chothuenha.me/images/cash.svg" alt="Nạp tiền bằng tiền mặt" title="Nạp tiền bằng tiền mặt">
	            						</div>
	            						<div class="method_item_name">
	            							Tiền mặt
	            						</div>
	            					</a>
	            				</div>
	            			</div>
	            		</div>
	            	</div>
	            </section> 
	        </div>
	        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	            <section class="section box-shadow border-radius js-payment-summary-sticky" data-margin-top="100" data-margin-bottom="50">
	                <div class="section-header"><div class="section-title">Thông tin tài khoản</div></div>
	                <div class="section-content">
	                    <div class="margin-bottom-5">
	                        <span>Mã thành viên: </span>
	                        <span><strong>2775</strong></span>
	                    </div>
	                    <div>
	                        <span>Số dư: </span>
	                        <span><strong>0<sup>đ</sup></strong></span>
	                    </div>
	                </div>
	            </section>
	        </div>
	    </div>



      </div>
      <div></div>
      <div></div>
   </div>
</div>


</div>
</div>
</div>





{{ footer }}