{{ header }}
<div class="append_html_filter append_pagination">
<div id="account-account" class="">
  <div class="sc-imcLir cExqpY ">
    

    {{ column_left }}


  
  <div class="sc-bHKNvF folniP col-lg-10">
   <div class="sc-fweGeb kUzkwc">
      <div class="sc-ibushM dhggPq">
         <ul class="sc-heOwwK izlmnd"></ul>
      </div>
   </div>
   <div class="sc-jTWTst hYLsTD">
      <div class="sc-cHOiLE SLkmA">
         <div class="sc-hymtyp bjqBjR">
            <h3 type="primary" class="sc-dlfnbm lhekIy">{{ heading_title }}</h3>
         </div>
         
      </div>
   </div>
 
   <div class="sc-jhSEkC COfqa">
      <div class="sc-jLNwoM jvBuwT">

                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">
                    <div class="panel-body">
                      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                          <div class="form-group required">
                            <label class="col-sm-12" for="input-password">{{ entry_password }}</label>
                            <div class="col-sm-12">
                              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                              {% if error_password %}
                              <div class="text-danger">{{ error_password }}</div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="form-group required">
                            <label class="col-sm-12" for="input-confirm">{{ entry_confirm }}</label>
                            <div class="col-sm-12">
                              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                              {% if error_confirm %}
                              <div class="text-danger">{{ error_confirm }}</div>
                              {% endif %}
                            </div>
                          </div>
                        </fieldset>
                        <div class="buttons clearfix">
                          
                            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
                         
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
                <div class="col-lg-4"></div>
               


      </div>
      <div></div>
      <div></div>
   </div>
</div>


</div>
</div>
</div>



<script type="text/javascript">
  $('#exportExcel').on('click', function(e) {
    printExcelProducts();
    e.preventDefault();
  });

  function printExcelProducts() {
    var form = $('#form-product');
    let dataForm                 = $(form).serialize();
    let dataForms                 = $(form).serializeJSON();
    let arr_selected = encodeURIComponent(JSON.stringify(dataForms.selected));
    if(arr_selected == 'undefined') {
      $('.title_message').html('Đã xảy ra lỗi');
      $('.image_message').attr('src', 'image/data/error-905.svg');
      $('.description_message').html('Vui lòng chọn ít nhất 1 tin đăng để xuất file!');
      $('#success_modal').modal('show');
      return;
    }
    
    var router  = 'index.php?routing=account/product/excelProducts';
    window.location.href = router+'&selected='+arr_selected;
  }
</script>

{{ footer }}