{{ header }}
<div class="container">
     
<div class="bannertop" style="min-height: auto;">
   <div class="detial-sl wp1040">
      <div class="ads_center mgt10">
         <div id="admzone96">
            <div id="zone-96">
               <div id="share-k0g3n3na">
                  
                     <iframe src="banner_html/1160x250thm.html" style="border: none; background: rgb(255, 255, 255); width: 100%;" marginheight="0" align="top" scrolling="No" frameborder="0" hspace="0" vspace="0" name="adnzone_515259_0_576668" id="adnzone_515259_0_576668" width="1160" height="250"></iframe>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

<div class="adm-mainsection clearfix">
   <div class="wap-content wp1100 " style="margin-bottom: 10px;">
      <div class="content_cate wp1040 clearfix row">
         <div class="left_cate totalcontentdetail col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1 class="title">
               {{ article_info.article_title }}
            </h1>
            <div class="sharemxh topshare">
               <p class="dateandcat">
                  <span class="pdate">{{ article_date_modified }} </span>| <a title="Bất động sản" class="cat">Bất động sản</a>
               </p>
              
               <div class="fb">
                  <a href="javascript:;" class="kbwcs-fb facebook_share_button" >Chia sẻ  <span rel="share-count" class="kbwcs-number fr">0</span>
                  </a>
                  <div class="fb-like fb_iframe_widget" data-layout="button_count"    data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&app_id=115279665149396&container_width=85&href=https%3A%2F%2Fcafef.vn%2Fbat-dong-san-hang-trieu-nguoi-mo-uoc-khi-ha-noi-gian-cach-2021072512132948.chn&layout=button_count&locale=vi_VN&sdk=joey&share=false&show_faces=false&size=small">
                     <span style="vertical-align: bottom; width: 90px; height: 28px;">
                    
                     </span>
                  </div>
               </div>
              
            </div>
            <div class="clearall">
            </div>
            <div class="knc-menu-nav">
               <div class="kmn-wrapper" id="menuNav">
                  <div class="kmnw-content">
                     <div class="kc-item kc-home">
                        <a href="/" class="icon-kch" title="Trang chủ">
                        </a>
                     </div>
                     <div class="kc-item kc-facebook">
                        <a onclick="fbClient.shareClick('');" href="javascript:;" class="icon-kcf" title="Chia sẻ">
                        </a>
                     </div>
                     <div class="kc-item kc-email">
                        <a class="icon-kcm"  title="email">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="w640 fr clear">
               <div class="media">
                  <img src="{{ article_info.image }}" title="{{ article_info.article_title }}">
               </div>
               <h2 class="sapo">
                 {{ article_info.short_description }}
               </h2>
               <div class="react-relate animated" id="reactRelate">
               </div>
               <div class="clearall">
               </div>
               <div data-check-position="body_start">
               </div>
               <div class="contentdetail fl" id="contentdetail">
                  <div class="tindnd clearfix" style="display: block;">
                     <div id="listNewsInContent">
                        <span class="title_box">
                        <a href="javascript:void(0)">TIN MỚI</a>
                        </span>
                        <ul id="listNewestDetail"  >

                           {% for _article in related_articles %}

                           <li class="no_border">
                              <a title="{{ _article.article_title }}" href="{{ _article.href }}">
                              <img src="{{ _article.image }}" alt="{{ _article.article_title }}" title="{{ _article.article_title }}">
                              
                              <div class="knswli-right">
                                 {{ _article.article_title }}
                              </div>
                              <div class="article-publish"><i class="icon clock size-14 margin-right-2"></i>
                              {{ _article.date_added }}
                              </div>
                              </a>
                           </li>
                           {% endfor %}
                           
                        </ul>
                     </div>
                  </div>
                  <span id="mainContent">
                     {{ article_info.description }}
                  <p class="author">Lan Nhi</p>
                  <p class="source" data-field="source">Theo Nhịp sống kinh tế</p>
               </div>
            
              
               <div id="admzonek1frz8jr">
                  <!-- Ads box-ads-app Zone -->
                  <div id="zone-kq8zddh7">
                     <div id="share-kq8zde5x">
                        <div id="placement-kq8zjhi7" revenue="pr">
                           <div id="banner-kq8zddh7-kq8zji4f" style="min-height: 10px; min-width: 10px;">
                              <div id="slot-1-kq8zddh7-kq8zji4f">
                                 <a >
                                 <img src="https://static-cmsads.admicro.vn/cmsads/2021/06/3.jp-1624423023361.jpeg">
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <!-- / Ads Zone -->
                  <div id="zone-k1frz8jr">
                     <div id="share-k1frz8k3">
                        <div id="placement-k1fs3j8g">
                           <div id="banner-k1frz8jr-k1fs3j8w" style="min-height: 10px; min-width: 10px;">
                              <div id="slot-1-k1frz8jr-k1fs3j8w">
                                 <div id="ssppagebid_4143" >
                                    <div id="sspbid_2012436" data-ssp="sspbid_2012436"  >
                                      
                                    </div>
                                 </div>
                              
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
              
               <div data-check-position="body_end">
               </div>
               <div class="sharemxh bot">
                  <div class="fl mgr5 mt-3">
                     <a class="linkhaya2" >
                     <i class="linkhaytop sprite">
                     </i>
                     </a>
                  </div>
                  <div class="fl mgr5 mt-3">
                     <div class="fb-send" data->
                     </div>
                  </div>
                  <div class="fl mt-3">
                     <a href="javascript:;" class="kbwcs-fb facebook_share_button" >Chia sẻ  <span rel="share-count" class="kbwcs-number fr">0</span>
                     </a>
                  </div>
                  <div class="fl mt-3">
                     <div class="fb-like fb_iframe_widget" data-layout="button_count"    data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&app_id=115279665149396&container_width=0&href=https%3A%2F%2Fcafef.vn%2Fbat-dong-san-hang-trieu-nguoi-mo-uoc-khi-ha-noi-gian-cach-2021072512132948.chn&layout=button_count&locale=vi_VN&sdk=joey&share=false&show_faces=false&size=small">
                        <span style="vertical-align: bottom; width: 90px; height: 28px;">
                       
                        </span>
                     </div>
                  </div>
               </div>
               <div id="ContentPlaceHolder1_pnShowTag" class="tagdetail">
                  <div class="row1">
                     <i class="sprite icontag">
                     </i>
                     <b>Từ Khóa:</b>
                  </div>
                  <div class="row2">
                     <a href="/bat-dong-san.html" title="bất động sản">bất động sản</a>,  <a title="diễn biến phức tạp">diễn biến phức tạp</a>,  <a title="Hà Nội liên tục">Hà Nội liên tục</a>,  <a title="Trung tâm hội nghị quốc gia">Trung tâm hội nghị quốc gia</a>,  <a title="nhà thiết kế">nhà thiết kế</a>,  <a title="đầu tư xây dựng">đầu tư xây dựng</a>,  <a title="xe ô tô">xe ô tô</a> 
                  </div>
               </div>
               <div class="mgt15 fl">
                  <div class="clr mgt15">
                     <div id="admzone102">
                        <div id="zone-102">
                           <div id="share-jtgyrgpl">
                              <div>
                                 <div>
                                    <div>
                                       <div>
                                          <div data-width="660" data-height="300">
                                             <div style="position: relative; margin: 0px auto; width: 100%; height: auto;">
                                               
                                                <a class="admLogoAdx509392" >
                                                
                                                <span>
                                                </span>
                                                </a>
                                             </div>
                                             <div id="ads_top_bottom">
                                             </div>
                                             <div id="ads_top_bottom">
                                             </div>
                                          </div>
                                       </div>
                                      
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                   
                  </div>
               </div>
               <div class="light-box-bounder">
                  <div class="light-box-content">
                     <div class="light-box loading">
                     </div>
                  </div>
                  <div class="close-wrap" style="position: absolute; left: 202px;">
                     <div class="close">
                        <div class="close-1">
                        </div>
                        <div class="close-2">
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
            <div class="w640 clear fr">
               <div class="commentdetail">
                  <div class="clearfix">
                  </div>
               </div>
            </div>
         </div>
        
         
               {{column_right}}
        
        
      </div>
   </div>
   <div class="wp1100">
      <div id="admzone514487">
         <div id="zone-514487">
            <div id="share-jvbu4hxr">
               <div id="placement-k0hvzzmz">
                  <div id="banner-514487-k0hvzzne">
                     <div id="slot-1-514487-k0hvzzne">
                        <div id="ssppagebid_2633" >
                           <div id="adnzone_509394">
                              <div>
                                
                                 <a class="admLogoAdx509394" >
                                 
                                 <span>
                                 </span>
                                 </a>
                              </div>
                              <div id="ads_top_bottom">
                              </div>
                              <div id="ads_top_bottom">
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
   </div>
  
<script type="text/javascript">
$(document).ready(function(){
   if (window.matchMedia("(min-width: 991px)").matches) {
    var h_footer = $("footer").height();
     $("#sticky-wrapper").sticky({topSpacing:0, bottomSpacing: h_footer + 490});
   }
  });
</script>
{{ footer }}